<% heap=measure('heap-occupation')
   permgen=measure('permgen-occupation')
   if (heap || permgen) %>

<div class="dashbox">
    <h3><span title="Memory Consumption">Memory Consumptions</span></h3>
	
	<% if heap %>
	    <p>
	      <span class="big"><%= format_measure(heap, :url => url_for_drilldown('heap-occupation'), :suffix => ' Mb') %></span> <%= tendency_icon(heap) %> heap size
	    </p>
	<% end %>
	<% if permgen %>
	    <p>
	      <span class="big"><%= format_measure(permgen, :url => url_for_drilldown('permgen-occupation'), :suffix => ' Mb') %></span> <%= tendency_icon(permgen) %> permgen size
	    </p>
	<% end %>
</div>

<% end %>
